$color-primary: #58e1c1;
$text: #777;
$color-aqua: #51ddfc;
$color-purple: #927bc1;
$white: #fff;

// Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;

$font-stack-primary: 'Lato', sans-serif;
$font-size: 1.5em;
$font-weight: 300;
