/* ============================================= *
/*              Base styles                      */
/* ============================================= */
$font-stack-primary: 'Lato', sans-serif;

* {
  font-family: $font-stack-primary;
  color: $color-secondary;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

