
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-weight;
    color: $text;
  }
  
  .link {
    color: $color-aqua;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-weight;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
  }
  
  